<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporting</title>
</head>
<body>
<h1>Today's total clocked in time is:</h1>
{{ total_today }}


<h2>Current Week's Totals</h2>
<table>
    <tr>
       <th>Monday</th>
       <th>Tuesday</th>
       <th>Wednesday</th>
       <th>Thursday</th>
       <th>Friday</th>
       <th>Saturday</th>
       <th>Sunday</th>
    </tr>

    <tr>
        <th>{{ latest_dates_list.0 }}</th>
        <th>{{ latest_dates_list.1 }}</th>
        <th>{{ latest_dates_list.2 }}</th>
        <th>{{ latest_dates_list.3 }}</th>
        <th>{{ latest_dates_list.4 }}</th>
        <th>{{ latest_dates_list.5 }}</th>
        <th>{{ latest_dates_list.6 }}</th>


    </tr>

    <tr>
        {% for day_total in date_list %}
        <td>{{ day_total }}</td>
        {% endfor %}


    </tr>

</table>
</body>
</html>